%tr
  %td
    = profile.first_name
  %td
    = profile.last_name
  %td
    = profile.email
  %td
    = profile.gender
  %td
    = profile.income
  %td
    = profile.date_of_birth
  %td
    = profile.created_at
